<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>

<div class="search-bar container" th:fragment="search-bar">
    <div class="row">
        <div class="col s12">
            <form action="#" th:action="@{/}" method="post">
                <div class="input-field">
                    <input name="name" type="search" placeholder="Search for gifs..." required="required" autocomplete="on"/>
                    <i class="material-icons">search</i>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="gifs container" th:fragment="gifs-list">
    <div class="row">
        <div th:each="gif : ${gifs}" class="col s12 l4">
            <div class="row col s12">
                <a th:href="@{'/gif/' + ${gif.name}}">
                    <img th:src="${gif.getThymeleafFilePath()}" th:alt="${gif.name}" />
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>