<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>

<div class="navbar-fixed" th:fragment="header (type)">
    <nav>
        <div class="container">
            <a th:href="@{/}" class="brand-logo">gif<span>.</span>lib</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li th:class="${type}=='explore' ? 'active' : ''"><a th:href="@{/}">Explore</a></li>
                <li th:class="${type}=='upload' ? 'active' : ''"><a th:href="@{/upload}">Upload</a></li>
                <li th:class="${type}=='categories' ? 'active' : ''"><a th:href="@{/categories}">Categories</a></li>
                <li th:class="${type}=='favorites' ? 'active' : ''"><a th:href="@{/favorites}">Favorites</a></li>
            </ul>
            <ul id="mobile-nav" class="side-nav">
                <li th:class="${type}=='explore' ? 'active' : ''"><a th:href="@{/}">Explore</a></li>
                <li th:class="${type}=='upload' ? 'active' : ''"><a th:href="@{/upload}">Upload</a></li>
                <li th:class="${type}=='categories' ? 'active' : ''"><a th:href="@{/categories}">Categories</a></li>
                <li th:class="${type}=='favorites' ? 'active' : ''"><a th:href="@{/favorites}">Favorites</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="search-bar container" th:fragment="search-bar-gifs">
    <div class="row">
        <div class="col s12">
            <form action="#" th:action="@{/}" method="post">
                <div class="input-field">
                    <input name="name" type="search" placeholder="Search for gifs..." required="required" autocomplete="on"/>
                    <i class="material-icons">search</i>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="search-bar container" th:fragment="search-bar-categories">
    <div class="row">
        <div class="col s12">
            <form action="#" th:action="@{/categories}" method="post">
                <div class="input-field">
                    <input name="name" type="search" placeholder="Search for categories..." required="required" autocomplete="on"/>
                    <i class="material-icons">search</i>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="gifs container" th:fragment="gifs-list">
    <div class="row">
        <div th:each="gif : ${gifs}" class="col s12 l4">
            <div class="row col s12">
                <a th:href="@{'/gif/' + ${gif.name}}">
                    <img th:src="@{'/gifs' + (${gif.uploaded} ? '-uploaded/' : '/') + ${gif.name}}" th:alt="${gif.name}"/>
                    <a href="#" th:class="(${gif.favorite} ? 'un' : '') + 'mark favorite'"></a>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>