<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}"/>

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>

    <title th:text="'giflib | ' + ${gif.name}">Kwejk</title>
</head>
<body>

    <div th:replace="fragments/layout :: header(type='explore')"></div>

    <div th:replace="fragments/layout :: search-bar-gifs"></div>

    <div class="gif-detail container">
        <div class="frame row">
            <div class="col s12">
                <img th:src="@{ (${gif.uploaded} ? '~/upload/files/' : '/gifs/') + ${gif.name}}" th:alt="${gif.name}"/>
                <a href="#" th:class="(${gif.favorite} ? 'un' : '') + 'mark favorite'"></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <div class="meta row">
                <div class="valign-wrapper">
                    <div class="col s3">
                        <img class="circle" src="http://api.adorable.io/avatars/205/avatar" alt="avatar"/>
                    </div>
                    <div class="col s3">
                        <h4 th:text="${gif.username}"></h4>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="share">
                    <a class="btn right" href="#">Copy</a>
                    <span th:text="'http://gif.fy/' + ${gif.name}">URL</span>
                </div>
            </div>
        </div>
    </div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>